.body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
}

/* Advantages section */
.advantages {
  color: var(--color-blue-dark);
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

.advantages-section {
  max-width: 435px;
  margin: 0 auto;
}
.advantages:hover {
  color: var(--color-blue-light);
}

.address-icon {
  fill: var(--color-blue-dark);
  width: 32px;
  height: 32px;
}

.logo-1 {
  color: var(--color-blue-light);
  font-family: Play;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-transform: capitalize;
  text-decoration: none;
}
/* Header section */
.header-container {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  padding: 32px 100px;
  position: absolute;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 240px;
}

.header-menu {
  display: flex;
  justify-content: center;
  gap: 56px;
}

.header-link {
  display: flex;
  gap: 32px;
}

.clinik {
  font-size: 18px;
  font-weight: 400;
}

/* Hero section */
.hero-section {
  padding-top: 110px;
  padding-bottom: 50px;
  background: linear-gradient(
      89deg,
      #fff 30.62%,
      rgba(255, 255, 255, 0.85) 41.31%,
      rgba(255, 255, 255, 0.19) 58.65%,
      rgba(255, 255, 255, 0) 72.78%
    ),
    url(../images/hero-section-background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

/* Title section */
.about-container {
  display: flex;
  padding-top: 40px;
}
.about-content {
  max-width: 700px;
}

.woman-photo {
  position: relative;
  right: 30px;
  border-radius: 330px;
}

.procedures-section {
  max-width: 510px;
  margin: 0 auto;
}

.section-title {
  color: var(--color-blue-dark);
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 40px;
}

.section-title.centered {
  text-align: center;
}

/* Carousel section */
.carousel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  flex-shrink: 0;
  padding: 0;
  background-color: transparent;
  border: 1px solid var(--color-blue-dark);
  cursor: pointer;
}

.carousel-button.next {
  transform: rotate(180deg);
}

.carousel-arrow {
  fill: var(--color-blue-dark);
}

.carousel-button:hover {
  background-color: var(--color-blue-light);
  border: 1px solid var(--color-white);
}

.carousel-button:hover .carousel-arrow {
  fill: var(--color-white);
}

.section-title .beauty {
  color: var(--color-blue-light);
  font-size: 64px;
  font-weight: 700;
  text-transform: capitalize;
}

.section-title .accent {
  color: var(--color-blue-light);
}

.title {
  color: var(--color-blue-light);
  font-family: "Play";
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
  text-transform: capitalize;
  margin-top: 16px;
  margin-bottom: 40px;
}

/* Button section */
.button {
  color: var(--color-white);
  border-radius: 32px;
  background-color: var(--color-blue-light);
  border: 2px solid var(--color-blue-light);
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto";
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 40px;
}

.button:hover {
  color: var(--color-blue-dark);
  background-color: transparent;
}
/* Description */
.description {
  color: var(--color-gray);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 14px;
}
/* Paragraph */
.paragraph .limited {
  margin-bottom: 40px;
}

.paragraph {
  color: var(--color-blue-dark);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.7;
}

.paragraph .accent {
  color: var(--color-blue-dark);
  font-weight: 600;
  text-transform: capitalize;
}

/* Our-advantages */
.list {
  display: flex;
  gap: 56px;
}

.item {
  flex-basis: calc((100% - 112px) / 3);
}

.our-advantages {
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 8px; */
  padding: 24px 32px;
  /* text-align: center; */
  border-radius: 32px;
  background: #fff;
  /* beauty landing 2/Ef1 */
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
}
.img-our {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

/* About-us */
.about-us {
  max-width: 250px;
  text-align: center;
  color: var(--color-dark);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  margin-left: auto;
  margin-right: auto;
}

/* Procedures section */
.procedures-container {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-right: auto;
  margin-left: auto;
}
.procedures-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.procedures-item {
  flex-basis: calc((100% - 32px) / 3);
}

.procedures-card {
  height: 456px;
  width: 344px;
  border-top-right-radius: 120px;
  border-bottom-left-radius: 120px;
  /* border-radius: 120px 4px; */
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.73) 84.61%,
    #011c44 101.39%
  );
}

.our-work {
  color: var(--color-white);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.18;
}

/* Contact-contaier */
.contact-section {
  padding-bottom: 95px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-container .accent {
  color: var(--color-blue-light);
}

.contact-map {
  border: none;
  border-radius: 32px;
  flex-shrink: 0;
}

/* Button-main-section */
.button-main {
  color: var(--color-white);
  border-radius: 32px;
  background-color: var(--color-blue-light);
  border: 2px solid var(--color-blue-light);
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto";
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-main:hover {
  color: var(--color-blue-dark);
  background-color: transparent;
}
/* Images */
.button-politic {
  color: var(--color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}
.button-politic .accent {
  text-decoration: underline;
}

/* Background-footer */
.section-footer {
  padding: 56px 100px;
  background-image: url(../images/footer-background.png);
  background-color: var(--color-blue-dark);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.footer-img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.footer-container {
  display: flex;
  /* gap: 20px; */
  justify-content: space-between;
}

.footer-nav {
  max-width: 203px;
  width: 100%;
}
.footer-address {
  display: flex;
  max-width: 192px;
  width: 100%;
  flex-direction: column;
  flex-basis: 50%;
  gap: 16px;
}

.footer-logo {
  max-width: 83px;
  width: 100%;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-link {
  display: flex;
  gap: 24px;
}

.footer-icon {
  fill: var(--color-white);
  width: 42px;
  height: 42px;
}
.footer-info {
  max-width: 203px;
  width: 100%;
}

.logo-footer {
  color: var(--color-blue-light);
  font-family: Play;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  text-transform: capitalize;
  text-decoration: none;
}

/* Advantages-footer */
.advantages-footer {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  font-family: "Roboto";
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.advantages-footer:hover {
  color: var(--color-blue-light);
}

.advantages-link {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.advantages-link:hover {
  color: var(--color-blue-light);
}

/* Data */
.data {
  margin-top: 16px;
  color: var(--color);
}

.backdrop {
  /* display: none; */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  /* display: none; */
  position: relative;
  width: 720px;
  height: 680px;
  border-radius: 48px;
  background-image: url(../images/modal-decor.png);
  background-color: var(--color-blue-dark);
}

.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
}
